# sqlite

In [1]:
import sqlite3

# Prac 10 A

In [2]:
con = sqlite3.connect("compa.db")
cur = con.cursor()

In [3]:
table_deletetion_query = """
DROP TABLE Employee;
"""
cur.execute(table_deletetion_query)

In [4]:
table_creation_query = """
CREATE TABLE Employee(
staff_no INT PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE,
birth_date DATE
);
"""
cur.execute(table_creation_query)

In [7]:
table_clearing_query = """
    DELETE FROM Employee;
"""
cur.execute(table_clearing_query)

In [8]:
records = [(1,'abc','ABC','m','2012-01-01','2000-01-01'),
           (2,'pqr','PQR','m','2013-01-01','2001-01-01'),
           (3,'xyz','XYZ','m','2014-01-01','2002-01-01'),
           ]
insertion_query_format = """
INSERT INTO Employee VALUES({},'{}', '{}', '{}', '{}', '{}');
"""
for r in records:
    cur.execute(insertion_query_format.format(r[0],r[1],r[2],r[3],r[4],r[5],))

In [15]:
select_query = """
SELECT * FROM Employee;
"""

cursor = cur.execute(select_query)
cursor.fetchall()

In [17]:
update_query = """
UPDATE Employee SET fname = 'def' WHERE staff_no=1;
"""
cur.execute(update_query)

In [18]:
cursor = cur.execute(select_query)
cursor.fetchall()

[(1, 'def', 'ABC', 'm', '2012-01-01', '2000-01-01'),
 (2, 'pqr', 'PQR', 'm', '2013-01-01', '2001-01-01'),
 (3, 'xyz', 'XYZ', 'm', '2014-01-01', '2002-01-01')]

In [19]:
delete_query = """
DELETE FROM Employee WHERE staff_no = 2;
"""
cur.execute(delete_query)

In [20]:
cursor = cur.execute(select_query)
cursor.fetchall()

[(1, 'def', 'ABC', 'm', '2012-01-01', '2000-01-01'),
 (3, 'xyz', 'XYZ', 'm', '2014-01-01', '2002-01-01')]

In [76]:
con.commit()
con.close()

ProgrammingError: Cannot operate on a closed database.

# Prac 10 B

In [21]:
import numpy as np

def edit_distance(s1,s2):
    n1 = len(s1)
    n2 = len(s2)
    
    ed = np.zeros((n1+1,n2+1))
    
    ed[:,0] = list(range(n1+1))
    ed[0,:] = list(range(n2+1))

In [22]:
s1 = "more"
s2 = "most"

In [23]:
n1 = len(s1)
n2 = len(s2)

ed = np.zeros((n1+1,n2+1))

ed[:,0] = list(range(n1+1))
ed[0,:] = list(range(n2+1))

In [24]:
ed

array([[0., 1., 2., 3., 4.],
       [1., 0., 0., 0., 0.],
       [2., 0., 0., 0., 0.],
       [3., 0., 0., 0., 0.],
       [4., 0., 0., 0., 0.]])