# sqlite

In [19]:
import sqlite3

# Prac 10 A

In [20]:
con = sqlite3.connect("db1")

In [21]:
table_creation_query = """
CREATE TABLE Employee(
id INT,
name VARCHAR2(25)
                      );
"""

In [22]:
con.execute(table_creation_query)

In [23]:
records = [(100,'Susmit'),(101,'Pranit'),(102,'Rounak'),(103,'Clint'),(104,'Manish')]
insertion_query_format = """
INSERT INTO Employee(id,name) VALUES({},'{}');
"""
for record in records:
    con.execute(insertion_query_format.format(record[0],record[1]))

In [24]:
select_query = """
SELECT * FROM Employee;
"""

cursor = con.execute(select_query)

In [25]:
for row in cursor:
    print(f"ID: {row[0]}\nName: {row[1]}")

ID: 100
Name: Susmit
ID: 101
Name: Pranit
ID: 102
Name: Rounak
ID: 103
Name: Clint
ID: 104
Name: Manish

In [26]:
con.close()

# Prac 10 B